body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

#nav{
  padding-bottom: 100px;
}

#welcome{
  text-align: center;
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #333;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#search{
  width: 100%;
  text-align: center;
}

.main-search-bar{
  width: 70%;
}

.section-title{
  float: left;
  padding-left: 38px;
}


#featured{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.box{
  width: 30%;
  height: 100px;
  background-color:white;
  margin-left: 30px;
  margin-bottom: 200px;
  padding: 0;
}

.product{
  padding-bottom: 25px;
  width: 90%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
  }
  [class*="box"] {
    margin-bottom: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }
  [class*="box"] {
    margin-bottom: 300px;
  }
}