body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #333;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#featured{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.box{
  width: 30%;
  height: 170px;
  background-color:white;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.product{
  padding-bottom: 25px;
  width: 90%;
}