body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

::selection{
  background-color: #72bdf5;
}

#nav{
  padding-bottom: 100px;
}

#welcome{
  text-align: center;
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color:#72bdf5;
}

/*.active a:hover:not(.active) {
  color:#960f00;
}*/

.sign-in{
  background-color: #72bdf5;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right
}

/*Login Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#search{
  width: 100%;
  text-align: center;
}

.main-search-bar{
  width: 70%;
  border: 2px solid black;
  border-radius: 4px;
}

.section-title{
  float: left;
  padding-left: 19px;
}


#featured{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.box{
  width: 30%;
  height: 400px;
  background-color:white;
  margin-left: 30px;
  margin-bottom: 50px;
  padding: 0;
}

.product{
  padding-bottom: 30px;
  width: 100%;
}

.product-button{
  background-color:#72bdf5;
  border: none;
  color: white;
  padding: 8px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.item-info{
  float: left;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 80%;
  }
  [class*="box"] {
    margin-bottom: 200px;
    height: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }
  [class*="box"] {
    margin-bottom: 100px;
  }
}